.feed-item-content {
  font-size: 13px;
}

.feed-item-content code {
  display: inline-block;
  background: #f2f2f2;
  border: 1px solid #d1d2d3;
  padding: 0 4px;
  margin: 0 4px 0 0;
  border-radius: 4px;
  color: #697a89;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 13px;
}

.feed-item-content .wp-block-syntaxhighlighter-code {
  display: inline-block;
  background-color: #0b214a !important;
  color: #d1edff !important;
  overflow-x: scroll;
  width: 100%;
}

.feed-item-content .wp-block-syntaxhighlighter-code pre {
  padding-left: 1em !important;
  padding-right: 1em !important;
}

